body {
  background-image: url('/assets/images/wickedbackground.svg');
  background-repeat: repeat-y;
  background-size: cover;
}

.main {
  display: flex;
  flex-direction: column;
}

.navigation {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: space-between;

  margin-top: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.menu-nav {
  display: flex;
  flex-direction: row;
  gap: 1.6rem;
}

.menu-nav-item {
  cursor: pointer;
  border-radius: 5px;
  padding: 8px 16px;
  transition: color .2s ease-in-out, background .2s ease-in-out;
}

.menu-nav-item:hover {
  color: var(--indigo);
  background: var(--white);  
}

.hero {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  padding-top: 5rem
}

.hero > img {
    width: 360px;
}

.hero > div > h1 {
  font-size: 3rem;
  font-weight: 900;
  line-height: 4rem;
  text-align: right;
}

.hero > div {
  display: flex;
  flex-direction: column;
  max-width: 480px;
  width: 100%;
  align-items: flex-end;
  align-content: center;
}

.hero > div > button {
  background: var(--purple);
  border: 1px solid transparent;
  cursor: pointer;
  border-radius: 5px;
  padding: 8px 16px;
  text-align: right;

  transition: color .2s ease-in-out, background .2s ease-in-out;
}

.hero > div > button:hover {
  background: var(--white);
  color: var(--purple);
  text-align: right;
}

.apps {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;

  width: 100%;

  margin-top: 5rem;
}

.app-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8rem;

  width: 100%;
}

.app-solucao {
  display: flex;
  flex-direction: column;
  align-items: center;

  background: var(--purple);
  border-radius: 8px;
  color: var(--light);

  min-width: 210px;
  max-width: 480px;
  width: 100%;
  margin-top: 2rem;

}

.app-solucao > h3 {
  font-size: 1.6rem;
  line-height: 2.2rem;
  font-weight: 600;
  padding: 1rem 0;
}

.app-solucao > ul > li {
  padding: .6rem 0;
  font-size: 1.5rem;
  line-height: 1.63rem;
  text-align: center;
}

.app-solucao > button,
.app-contact-form > button {
  background: var(--success);
  color: var(--light);
  border: 1px solid transparent;
  cursor: pointer;
  border-radius: 5px;
  padding: 8px 16px;

  width: max-content;

  transition: color .2s ease-in-out, background .2s ease-in-out;
  margin-bottom: 1rem;
}

.app-solucao > button:hover,
.app-contact-form > button:hover {
  background: var(--green);
  color: var(--white);  
}

.app-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  margin-top: 4rem;

  width: 100%;
}

.app-contact-form {
  display: flex;
  flex-direction: column;
  background: var(--purple);

  min-width: 327px;
  max-width: 480px;

  padding: 2rem 6rem;
  border-radius: 8px;
  width: 100%;
}

.app-contact-form__label {
  font-size: .98rem;
  line-height: 1rem;
  color: var(--white);  
}

.app-contact-form__input {
  background: var(--white);
  border-radius: 6px;
  padding-left: 1rem;
  height: 2.8rem;

  color: var(--dark);

  margin-bottom: 1.8rem;
}

textarea#mensagem {
  height: 16.4rem;
  resize: none;
  text-align: left;

  padding: 1rem;
}